:root {
    --primary-color: #333;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    justify-content: space-between;
    height: 59px;
}

nav div.topNavBarOptions {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.collapsedButton {
    display: flex;
    padding: 7px;
    margin: 0 10px;
}
button.darkModeButton {
    padding: 5px 5px;
}

.collapsed {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    transition: 500ms ease;
    overflow-y: scroll;
}

.noCollapsed {
    transform: translateY(-200%);
    opacity: 0;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
}

ul li a {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin: 0 5em;
    border-radius: 5px;
}

@media (min-width: 800px) {
    .noCollapsed {
        opacity: 1;
        transform: translateY(0);
        position: static;
        transition: 500ms ease;
    }

    .noCollapsed ul {
        display: flex;
    }

    ul li a {
        padding: 10px 20px;
        margin: 0 10px;
    }
    
    button.collapsedButton {
        display: none;
    }
}