div.toggleOn {
    height: 21px;
    width: 21px;
    background-color: aqua;
    border-radius: 100%;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.toggleDM {
    border-radius: 12px;
    display: flex;
    align-items: center;
}